{% extends 'patient_page/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'patient_page/css/appointments.css' %}">
{% endblock %}
{% block content %} 
<div class="appointments_container">
    <div class="upper_container">
        <div class="middle_upper">
            <form action="" method="GET">
                <button type="submit" name="start_day" id="start_day" class="day_button" ><p>{{today_date}}</p></button>
            </form>
        </div>
    </div>
    <hr>
    <h1>Your appointments</h1>
    <div class="lower_container">
        {% for appointment in appointments %}
            <div class="day appointment_booked">
                <div class="day_date">
                    <h3>{{appointment.date|date:'d - m - Y'}}</h3>
                </div>
                <hr>
                <div class="appointment">
                    <p>Time: {{ appointment.date|date:"H:i" }}</p>
                    <p>Room: {{ appointment.room.number}}</p>
                    <p>Doctor: {{ appointment.doctor.firstname }} {{data.doctor.lastname}}</p>
                    <p>Doctor Email: {{ appointment.doctor.email }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
</div>
{% endblock %}
